<% provide(:title, "About") %>
<h1>About</h1>
<h2 style="text-align:center">
  This is a sudoku app built on Ruby-on-Rails for the class CSC-324 Grinnell College. The website utilized Ruby on Rails and Javascript
  This is an individual project and might experience some changes in the future.

</h2>
<div style="padding-top: 20px">
<%= image_tag("grinnellcollege.png", :alt => "Grinnell College Panorama") %> </div>

<div>    

    <div style="position: absolute; bottom: 5px; background-color: black">
    Background image source: http://www.allwhitebackground.com/cat-background.html/download/14665 
    </div>
</div>