<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <div style="text-align:center">
      If you have any questions/feedback please get in touch with the following information <br />
      Linh Bui<br />
      builinh@grinnell.edu<br />
      Github: linhtbui<br />
    </div>
  </body>
</html>