<% provide(:title, "Help") %>
<h1>Help</h1>

<div style="padding-left: 20px">

<p><b>1. What is Sudoku?</b><br></p>

<p style="text-indent: 50px;">If you want to know more about Sudoku, all information can be found<a href="https://en.wikipedia.org/wiki/Sudoku" target="_blank">here</a></p>

<p><b>2. How can you play Sudoku?</b><br></p>

<p style="text-indent: 50px;">The objective is to fill a 9×9 grid with digits so that each column, each row, and each of the nine 3×3 subgrids that compose the grid (also called "boxes", "blocks", or "regions") contain all of the digits from 1 to 9.<br></p>


 <div style="position: absolute; bottom: 5px; background-color: black">
    <p><b>If you have more questions go to the Contact page and contact us!</b><br></p>
    </div>