<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Get in touch! <br />
      Linh Bui<br />
      builinh@grinnell.edu<br />
      Github: linhtbui<br />
    </p>
  </body>
</html>